/* The header__switch - the box around the slider */

.header__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 10px;
}


/* Hide default HTML checkbox */

.header__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.header__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url(../images/toogle.png);
    background-position: center;
    background-size: cover;
}

input:checked+.header__slider {
    background-color: #4e5052;
}

input:focus+.header__slider {
    box-shadow: 0 0 1px #515355;
}

input:checked+.header__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.header__slider.round {
    border-radius: 34px;
}

.header__slider.round:before {
    border-radius: 50%;
}