/* 
Juan rest basic 2022 (◕‿◕)
*/


/* Estilos por defecto (modo oscuro) */

body {
    background-color: #1e1f21;
    color: white;
}


/* Estilos para el modo claro 

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: black;
    }
}
*/


/* Estilos para modo oscuro (cambiado manualmente) */

[data-theme='light'] {
    .content {
        background-color: #ffffff;
        color: black;
    }
    .header {
        border-bottom: 1px solid #cececf;
        background-color: #ffffff;
    }
    .header__img {
        box-shadow: 2px 2px #eee;
    }
    .aside__section {
        background-color: rgb(18, 70, 70);
    }
    .menu__li,
    .footer__li {
        color: black;
    }
    .footer {
        border-top: 1px solid #cececf;
        background-color: #ffffff;
    }
}