/* 
Juan mode manual basic 2022 (◕‿◕)
*/


/* Estilos por defecto (modo oscuro) */

body {
    background-color: var(--body-background-mode);
    color: var(--text-color-primary);
}


/* Estilos para el modo claro 

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: black;
    }
}
*/


/* Estilos para modo oscuro (cambiado manualmente) */

[data-theme='light'] {
    .content {
        background-color: #ffffff;
        color: black;
    }
    .header {
        border-bottom: 1px solid #cececf;
        background-color: #ffffff;
    }
    .aside__section {
        background-color: rgb(18, 70, 70);
    }
    .menu__li,
    .footer__li {
        color: black;
    }
    .footer {
        border-top: 1px solid #cececf;
        background-color: #ffffff;
    }
    .aside,
    .search__input,
    .container__userdata {
        background-color: var(--background-color-ligth);
    }
    .aside__block,
    .aside__block--right {
        background-color: var(--background-color-ligth);
        color: var(--color);
    }
    .news__article {
        background: #FFFFFF;
    }
}