:root {
    --background-color: #2e2e30;
    --color: #6f6f73;
    --buy: #c40404;
    --sell: #038514;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #424244;
    background-color: #2e2e30;
    /* box-shadow: 5px 2px 2px #151516;*/
}

.header__img {
    width: 15%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--color);
    font-size: large;
}

.header__menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    justify-items: end;
    align-items: center;
}

.header__button {
    justify-content: end;
    margin: auto;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__li {
    display: flex;
    padding: 10px 20px;
    margin: 0px 5px;
    color: var(--color);
    align-items: center;
}

.menu__li a {
    color: var(--color);
    border-radius: 20px;
    text-decoration: none;
}


/*
.menu__li:hover {
    background-color: var(--color);
    color: var(--background-color);
    border-radius: 20px;
}
*/

.menu__li:hover {
    background-color: #424244;
    color: var(--background-color);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.menu__i {
    margin-right: 5px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main__aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color)
}

.search {}

.search__form {}

.search__input {
    background-color: var(--background-color);
    border: 1px solid var(--color);
    color: var(--color);
    padding: 5px 10px;
}

.search__input:focus {
    border-color: (--buy);
    transition: .4s ease;
}

.main__section {}

.main__aside--derecha {}

.footer {
    display: grid;
    border-top: 1px solid #424244;
    background-color: #2e2e30;
}