:root {
    --background-color: #2e2e30;
    --background-color-secondary: #424244;
    --background-color-ligth: #e7e7e9;
    --text-color-primary: #CCCCCC;
    --color: #6f6f73;
    --buy: #c40404;
    --sell: #038514;
}

body {
    font-family: var(--tipo-principal);
}

.content {
    display: grid;
    grid-template-rows: auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #424244;
    background-color: #2e2e30;
    /* box-shadow: 5px 2px 2px #151516;*/
}

.header__img {
    width: 60px;
    padding: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--color);
    font-size: large;
}

.header__menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    justify-items: end;
    align-items: center;
}

.header__button {
    justify-content: end;
    margin: auto;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.menu__li {
    display: flex;
    padding: 5px 10px;
    margin: 0px 5px;
    color: var(--color);
    align-items: center;
}

.menu__li a {
    color: var(--color);
    border-radius: 20px;
    text-decoration: none;
}

.menu__li:hover {
    background-color: #424244;
    color: var(--background-color);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.menu__i {
    margin-right: 5px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main__aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--background-color);
    padding: 20px;
}

.aside__search {
    padding: 20px 0px;
}

.search__input {
    background-color: var(--background-color);
    border: 1px solid var(--color);
    color: var(--color);
    padding: 5px 10px;
}

.search__input:focus {
    transition: .4s ease;
}

.aside__ul {
    display: flex;
    flex-direction: column;
}

.aside__a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    color: var(--color);
    transition: 0.6s ease-in-out;
}

.aside__i {
    margin-right: 8px;
}

.aside__a:hover {
    color: white;
    transform: scale(1.02);
}

.aside__block {
    background-color: var(--background-color-secondary);
    border-radius: 5px;
    padding: 20px;
    color: var(--background-color-ligth);
    margin: 20px 0px;
}

.block__title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.block__i {
    margin-right: 10px;
}

.block__ul {
    display: flex;
    flex-direction: column;
}

.block__li {
    padding: 5px 2px;
}

.main__section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.container__userdata {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    background-image: url(../images/border-left.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.container__userdata:hover {
    /* background-color: #00CCCC; */
    background-image: url(../images/border-left-on.png);
    background-position: top right;
    background-repeat: no-repeat;
    animation-name: card;
    animation-duration: 3s;
    cursor: pointer;
}

@keyframes card {
    from {
        background-color: var(--background-color)
    }
    to {
        background-color: #00CCCC;
    }
}

.userdata__name h4 {
    color: var(--background-color-ligth);
    font-size: large;
}

.userdata__name p {
    padding-bottom: 10px;
}

.userdata__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userdata__ul>li {
    margin: 0px 10px;
}

.userdata__i {
    width: 60px;
    height: 60px;
}

.container__progress {
    margin: 40px 0px;
}

.container__line {
    padding: 10px 0px;
    border-bottom: 1px dotted var(--color);
    animation: border-animation 4s infinite linear;
}

@keyframes border-animation {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}


/* BARRAS DE PROGRESO */

.progress__content {
    width: 100%;
    height: 20px;
    /* border: 1px solid #424244;
    border-radius: 20px; */
}

.progress__bar {
    background: #E44D26;
    height: 100%;
    width: 50%;
}

.progress__bar--green {
    background: #009688;
    height: 100%;
    width: 25%;
}

.progress__bar--blue {
    background: #42A5F5;
    height: 100%;
    width: 14%;
}


/* FIN BARRAS PROGRESO */

.main__aside--derecha {
    padding-right: 30px;
}

.footer {
    display: grid;
    border-top: 1px solid #424244;
    background-color: #2e2e30;
}