body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #424244;
    background-color: #2e2e30;
}

.header__img {
    width: 15%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__title {
    color: #6f6f73;
    font-size: large;
}

.header__menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    justify-items: end;
    align-items: center;
}

.header__button {
    justify-content: end;
    margin: auto;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__li {
    padding: 10px 20px;
    margin: 0px 5px;
    background-color: blanchedalmond;
}

.main {
    display: grid;
}

.footer {
    display: grid;
    border-top: 1px solid #424244;
    background-color: #2e2e30;
}